.header {
    grid-area: header;
    display: flex;
    background-color: #99ffcc;
    justify-content: center;
    align-items: center;
}

.leftsidebar {
    grid-area: leftsidebar;
    background-color: #99ffcc;
}

.main {
    grid-area: main;
    display: flex;
    background-color: #99ffcc;
    justify-content: center;
    align-items: center;
}

.rightsidebar {
    grid-area: rightsidebar;
    background-color: #99ffcc;
}

.footer {
    grid-area: footer;
    background-color: #99ffcc;
}

h1 {
    font-family: Arial, sans-serif;
    font-size: x-large;
}

.mybox {
    width: 60px;
    height: 60px;
    background-color: dodgerblue;
    transition: 0.5s;
}

.mybox:hover {
    width: 120px;
    height: 120px;
    background-color: midnightblue;
}

.gridcontainer {
    display: grid;
    height: 600px;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-areas:
            "header header header"
            "leftsidebar main rightsidebar"
            "footer footer footer";
    gap: 10px 10px;
}